accelerate
bert-score
diffusers
einops
h5py
kornia
matplotlib
nltk
numpy
omegaconf
open-clip-torch
opencv-python
pandas
pillow
pytorch-lightning
rouge-score
safetensors
scikit-image
scikit-learn
sentence-transformers
torch
torchvision
tqdm
transformers
webdataset
